body {
    --off-txt-clr: #fff;
    --highlight-clr: SteelBlue;
    --backing-clr: Navy;
    --desk-margins: 5vh 20vw;
    --mob-margins: 5vh 5vw;
    font-family: 'IBM Plex Sans', sans-serif;
    color: var(--backing-clr);
    font-weight: 400;
    word-wrap: break-word;
    scroll-behavior: smooth;
    overflow-x: hidden;
    -ms-overflow-style: none;
    /* for Internet Explorer, Edge */
    scrollbar-width: none;
    /* for Firefox */
}

body::-webkit-scrollbar {
    display: none;
    /* for Chrome, Safari, and Opera */
}


/* Navigation & responsiveness */

.navigation {
    width: 100vw;
    min-height: 10vh;
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    overflow-y: show;
    color: var(--off-txt-clr);
    background-color: var(--backing-clr);
    font-weight: 700;
    z-index: 100;
}

.nav ul {
    margin: 0;
    padding: 0;
}

.nav .main-nav {
    display: none;
    position: relative;
}

#tn:checked+.main-nav {
    display: block;
}

.nav input[type="checkbox"],
.nav ul span.drop-icon {
    display: none;
}

.nav li,
#toggle-nav,
.nav .sub-nav {
    border-style: solid;
    border-color: var(--backing-clr);
}

.nav li,
#toggle-nav {
    border-width: 0 0 1px;
}

.nav .sub-nav {
    background-color: inherit;
    border-width: 1px 1px 0;
    margin: 1em 1em;
}

.nav li,
#toggle-nav {
    position: relative;
    display: block;
    color: inherit;
}

.nav a {
    position: relative;
    display: inline-block;
    color: inherit;
}

.nav,
#toggle-nav {
    background-color: var(--backing-clr);
}

.nav li {
    padding: 1em 1.5em;
}

.nav a {
    transition: all .125s ease-in-out;
    -webkit-transition: all .125s ease-in-out;
}

.nav li:hover {
    background-color: var(--highlight-clr);
    color: var(--backing-clr);
}

.nav .sub-nav {
    display: none;
}

.nav input[type="checkbox"]:checked+.sub-nav {
    display: block;
}

.nav .sub-nav li:hover {
    background-color: var(--backing-clr);
    color: var(--off-txt-clr);
}

#toggle-nav .drop-icon,
.nav li label.drop-icon {
    position: absolute;
    right: 1.618em;
    top: 1em;
}

.nav label.drop-icon,
#toggle-nav span.drop-icon {
    border-radius: 0.618em;
    width: 1.618em;
    height: 1.618em;
    text-align: center;
    background-color: var(--backing-clr);
    color: var(--off-txt-clr);
}

.nav .drop-icon {
    line-height: 1.618;
}

@media only screen and (min-width: 60em) and (pointer: fine) {
    .nav .main-nav {
        display: block;
    }
    .nav label.drop-icon,
    #toggle-nav span.drop-icon {
        display: none;
    }
    .nav ul span.drop-icon {
        display: inline;
    }
    .nav li,
    .nav a {
        float: left;
        min-height: 5vh;
        vertical-align: middle;
    }
    .nav .sub-nav li {
        float: none;
    }
    .nav .sub-nav {
        margin: 0;
        position: absolute;
        top: 100%;
        left: 0;
        width: 12em;
    }
    .nav .sub-nav,
    .nav input[type="checkbox"]:checked+.sub-nav {
        display: none;
    }
    .nav .sub-nav li {
        color: inherit;
    }
    .nav .sub-nav .sub-nav {
        top: 0;
        left: 100%;
    }
    .nav li:hover>input[type="checkbox"]+.sub-nav {
        display: block;
    }
}


/* custom */

.downgrad {
    min-height: 5vh;
    background-image: linear-gradient(var(--backing-clr), transparent);
}

.upgrad {
    bottom: 0;
    min-height: 5vh;
    background-image: linear-gradient(transparent, var(--backing-clr));
}

.splash {
    text-align: center;
    padding: 20vh 0;
}

.splashspace {
    height: 80vh;
}

.off-txt-clr {
    color: var(--off-txt-clr);
}

.color {
    min-height: 90vh;
    color: var(--off-txt-clr);
    background-color: var(--backing-clr);
}

.content {
    padding: var(--mob-margins);
}

@media only screen and (min-width: 60em) and (pointer: fine) {
    .content {
        padding: var(--desk-margins);
    }
}

footer {
    min-height: 10vh;
    background-color: var(--backing-clr);
    bottom: 0;
}